<p>vuelos</p>

<div class="navLinks">
    <a [routerLink]="['./main']">Main</a>
    <a [routerLink]="['./mas-info']">Mas Info</a>
    <a [routerLink]="['./',5]">Vuelo 5</a>

</div>

<router-oulet></router-oulet>